@use 'sass:map';
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.about-images-container {
  order: 2;
  min-height: 268px;
  min-width: 260px;
  margin-bottom: 32px;
  position: relative;
}

.about-bag-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 137px;
  height: 160px;
}

.about-kask-image {
  position: absolute;
  top: 0;
  left: 20%;
  width: 120px;
  height: 100px;
}

.about-plits-image {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 125px;
  height: 120px;
}

.about-article-section {
  margin-bottom: 32px;
  text-align: center;
}

.about-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  order: 0;
}

.about-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  order: 1;
  letter-spacing: 1px;
  line-height: 1.3;
}

.about-button {
  order: 3;
}

@media (min-width: 1024px) {
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 120px;
    position: relative;
  }

  .about-images-container {
    position: relative;
    order: 0;
    min-width: 397px;
    min-height: 376px;
    margin: 0;
  }

  .about-bag-image {
    width: 216px;
    height: 228.5px;
  }

  .about-kask-image {
    width: 164.66px;
    height: 125.98px;
  }

  .about-plits-image {
    width: 189px;
    height: 158.51px;
  }

  .about-article-section {
    width: 548px;
    margin: 0;
  }

  .about-title {
    text-align: start;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 48px;
    text-align: start;
    color: map-get($colors, 'dark-text');
  }

  .about-text {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: start;
    margin-bottom: 56px;
  }

  .about-button {
    position: absolute;
    top: 261px;
    right: 323px;
  }
}
