.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    z-index: 100;
    padding: 30px 0;
    // font-family: var(--second-family);

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        margin: 0 auto;
        padding: 30px 40px;
        display: flex;
        align-items: center;
    }

    &.scrolled {
        background-color: #fff;
    }
}

.logo {

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}

.nav {
    position: fixed;
    height: fit-content;
    background: #FBFFF8;
    z-index: 102;
    top: 12%;
    padding: 35px 22px;
    right: -100%;
    transition: right 0.3s;
    border-radius: 10px;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    &__item {
        padding: 10px 5px;
        list-style: none;
    }

    &__href {
        // font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 120%;
        cursor: pointer;
        transition: text-shadow 3s;
    }

    &.active {
        right: 0;
    }
}

.burger_menu_blur {
    position: fixed;
    background: rgba(149, 149, 149, 0.6); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 12%;
    z-index: -3;
    transition: all 2s;
    display: none;

    &.active {
        display: block;
    }
}

.burger_menu_icon {
    cursor: pointer;
    z-index: 101px;
    background-repeat: no-repeat;
    object-fit: contain;

    img {
        width: 100%;
        height: 100%;
    }
}

@media (width >= 768px) {
    .header {
        &__wrapper {
            padding: 30px 40px;
        }
    }

    .nav {
        &__item {
            padding: 20px 15px;
            list-style: none;
        }
    }
    .burger_menu_icon {
        width: 48px;
        height: 48px;
    }
}

@media (width >= 1024px) {
    .nav {
        background-color: inherit;
        position: static;
        z-index: inherit;
        padding: 0;
        padding-left: 33%;
        flex: 1;

        &__list {
            flex-direction: row;
            gap: 30px;
            white-space: nowrap;
            justify-content: center;
        }

        &__item {
            padding: 10px 5px;
        }

        &__href {
            font-size: 20px;
            transition: color 0.3s ease 0s;

            &:hover {
                color: var(--hover);
            }

            &:active {
                color: var(--black);
                text-decoration: none;
            }
        }
    }

    .burger_menu_icon {
        display: none;
    }
}
