@use 'sass:map';
@use '../global/variables'

.progress-section {
  padding-bottom: 60px;

  @media screen and (min-width: 1024px) {
      padding-bottom: 120px;
  }
}

.progress-title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.progress-title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1.92px;
  text-align: center;
  color: map.get($colors, 'dark-text');
  margin-bottom: 24px;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
    // line-height: ;
    // letter-spacing: ;
    margin-bottom: 40px;
}
}

.progress-info-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 24px;
}
}

.progress-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: map.get($colors, 'dark-text');

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1.92px;
}
}

.progress-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid map.get($colors, 'dark-text');
  border-radius: 12px;

  @media screen and (min-width: 1024px) {
    width: 100%;
    height: 60px;
    border-radius: 13px;
}
}

.progress-bar {
  margin-left: 3px;
  height: 42px;
  background-color: map.get($colors, 'progress-bar');
  border-radius: 12px;

  @media screen and (min-width: 1024px) {
    height: 52px;
}
}
