@use 'sass:map';
@use '../global/variables';

.reuseBtn {
    background-color: variables.$accent;
    border-radius: 12px;
    padding: 16px 72px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 2px solid variables.$accent;

    &:hover {
        background-color: transparent;
        color: variables.$dark-text;
        transition: 0.5s;
 }
}