@use 'sass:map';

.share-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: map.get($colors, 'backdrop');
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.share-modal-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 24px 48px 24px;
  max-width: 343px;
  overflow-y: auto;
  background-color: map.get($colors, 'background');
  border-radius: 16px;

  &:hover {
    cursor: auto;
  }

  @media screen and (min-width: 768px) {
    padding: 72px 54px;
    max-width: 642px;
  }
}

.btn-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.icon-cross {
  stroke: map.get($colors, 'stroke');
  width: 40px;
  height: 40px;
}

.share-modal-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.share-modal-title {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.44px;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
  max-width: 213px;
  color: map.get($colors, 'black-text');

  @media screen and (min-width: 768px) {
    max-width: 486px;
    font-size: 26px;
    line-height: 31.69px;
    margin-bottom: 32px;
  }
}

.share-modal-desc {
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
  text-align: center;
  max-width: 289px;
  color: map.get($colors, 'black-text');

  @media screen and (min-width: 768px) {
    max-width: 100%;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 32px;
  }
}

.share-links-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 36px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.share-link-svg {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.share-elem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: map.get($colors, 'gray-text');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;

  &:before,
  &:after {
    content: '';
    flex: 1;
    height: 0.5px;
    background-color: map.get($colors, 'gray-text');
    display: block;
  }

  &:before {
    margin-right: 10px;
    width: 120px;
  }

  &:after {
    margin-left: 10px;
    width: 120px;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 48px;
  }
}

.share-btn {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 268px;
  }
}

.share-modal-btn {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 248px;
  }
}