:root {
  body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  .container{
    padding: 0 15px;
    max-width: 1010px;
    margin: 0 auto;
  }
}