:root {
  --font-family: 'Open Sans Condensed', sans-serif;
  --second-family: 'Open Sans', sans-serif;

  // COLOR
  --hover: #ffcc00;
  --background-black: linear-gradient(126deg, #1e1e21 0%, #27272d 100%);
  --background-prgress: linear-gradient(-273deg, rgba(255, 204, 0, 0.017) 0%, rgba(255,204,0,130) 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  // background-image: linear-gradient(
  //   126.44deg,
  //   rgb(30 30 33) -1.719%,
  //   rgb(39 39 45) 100.52%
  // );
}
