@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap';

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-weight: bold;
  src:
    url('../assets/fonts/OpenSansCondensed-Bold.woff') format('woff'),
    url('../assets/fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('../assets/fonts/OpenSansCondensed-Bold.eot') format('eot');
}
